*{
    margin: 0; padding: 0; box-sizing: border-box;
}

#navbar{

    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: fixed;
    width: 100%;
    /* z-index: 10; */
}

.logo{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 35px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 30px;
    
}

.list{
    margin-right: 50px;
}

img{
    object-fit: cover;
    width: 100%;
}

.footer{
    margin: 30px;
    font-size: 1.6rem;
}

.main h1{
    font-size: 90px;
    position: absolute;
    right: 10vh;
    top: 324px;
    color: rgba(238, 142, 18, 0.473);
}