*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    background-color: rgb(184, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

h1{
    font-size: 7rem;
}

.container{
    background-color: white;
    height: 770px;
    width: 550px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 8px 8px gray;
}

input{
    width: 100%;
    height: 140px;
    font-size: 5rem;
    border-radius: 30px 30px 0 0;
    border: none;
    text-align: right;

}

button{
    font-size: 3.5rem;
    cursor: pointer;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    margin: 2px;
    box-shadow: 5px 5px 5px gray;

}

