*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;


    background-color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: row;
    /* height: 40px; */
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.os{
    background-color: aqua;
    height: 200px;
    width: 220px;
    border: solid 2px ;
    margin: 30px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}