*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(164, 238, 238);
}

.container{
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px ;
}

h1{
    font-size: 3rem;
    margin: 20px;
}

.number{
    font-size: 12rem;
}

button{
    font-size: 1.7rem;
    margin: 10px;
    /* width: 70px; */
    color: white;
    cursor: pointer;
}

.reset{
    width: 90px;
    border-radius: 5px;
    background-color: green;
}

.plus{
    width: 40px;
    background-color: blue;
    border-radius: 5px;
}

.sub{
    width: 40px;
    background-color: red;
    border-radius: 5px;
}