*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    
}

.box{
    background-color: aquamarine;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    box-shadow:  5px 10px 8px grey;
}

h2{
    margin-bottom: 30px;
}

.quotes{
    font-size: 1.6rem;
    margin: 30px;
}

.name{
    font-size: 1.8rem;
    margin-top: 30px;

}

.btn{
    position: absolute;
    font-size: 1.5rem;
    bottom: 270px;
    /* margin-top: 120px; */
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow:  5px 10px 8px rgba(128, 128, 128, 0.479);
    cursor: pointer;

}
