*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;

}

#input{
    font-size: 1.2rem;
    padding: 5px;
}

.count{
    display: flex;
    margin: 20px;
    /* justify-content: space-between; */
    font-size: large;
}

.remaining{
    margin-left: 20px;
}

#total-num, #remaining-num{
    font-weight: bold;
    color: red;
}