*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.container{
    background-color: white;
    height: 300px;
    width: 400px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

.header{
    font-size: 2rem;
    background-color: blue;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;

}

.time{
    /* display: flex; */
    font-size: 6rem;
    margin-top: 20px;
    font-weight: bold;
}

/* .btnn{
    display: flex;

} */

button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin: 20px;
}

.active{
    /* background-color: red; */
    color: white;
}

