*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(161, 179, 211);
}

.container{
    background-color: white;
    height: 700px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px gray;

}

h1{
    font-size: 3rem;
    margin-top: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    margin: 40px;
}

.box input{
    height: 50px;
    width: 150%;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 10px;
    display: flex;
    /* justify-conte; */
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.calci{
    font-size: 1.8rem;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: red;
    color: white;
    box-shadow: 2px 5px 5px gray;
    cursor: pointer;
}

.amount{
    margin-left: 10px;
}

