*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;

}


.container{
    /* height: px; */
    background-color: white;
    width: 400px;
    border-radius: 20px;
}

.header{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 20px 20px 0 0 ;

}

.input-btn{
    /* height: 60px; */
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.input ,.btn ,.newbtn{
    height: 50px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.input{
    width: 200px;
    padding: 5px;
}

.btn ,.newbtn{
    width: 100px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.task{
    display: flex;
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.text{
    font-size: 1.2rem;
}

.output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    /* border: 10px solid; */
    width: 305px;
}

