*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

}


.text{
    font-size: 3rem;
    /* transition: 1s ease-in-out; */
}