*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    height: 900px;
    width: 900px;
    background-color: aliceblue;
    border-radius: 30px;

}

.header{
    font-size: 3rem;
    text-align: center;
    background-color: rgb(15, 27, 32);
    color: white;
    border-radius: 30px 30px 0 0 ;
}


.score{
    font-size: 2.6rem;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    /* align-items: center; */
}

.myscore{
    text-align: center;
}

.comscore{
    text-align: center;
}

button{
    font-size: 230px;
    margin: 10px;
    cursor: pointer;
    margin-top: 70px;
    border: black solid 10px;

}

button:hover{
    background-color: blue;
}


.choose{
    font-size: 2.5rem;
    margin-top: 50px;
    text-align: center;
}

.win-lose{
    font-size: 2.9rem;
    margin-top: 30px;
    text-align: center;
}