* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: white;
    display: flex;
    height: 280px;
    width: 350px;
    border-radius: 15px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    box-shadow: 0 0 10px 0 black;
    position: absolute;

}

h1 {
    margin-top: 15px;
    font-size: 2.5rem;

}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin: 20px
}

input {
    width: 50px;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 10px;
    border-radius: 10px;
}

.generate{
    height: 45px;
    width: 110px;
    font-size: 1.4rem;
    border-radius: 10px;
    /* background-color: ; */
}

#gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}