*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    height: 780px;
    width: 600px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: rgb(85, 83, 83);
    margin: 3px;
    /* border: black solid; */
    box-shadow: 0 0 5px;
    transition: 4s ease;
}

.square:hover{
    transition-duration: 0ms;
}