*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.container{
    background-color: white;
    border-radius: 15px;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 600px;
}

input{
    height: 70px;
    width: 60px;
    margin: 20px;
    font-size: 4.8rem;
    /* border-style: none; */
    border: solid blue;
    text-align: center;
    
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.code:valid{
    border: 1px solid green;
    box-shadow: 0 0 5px green;
}

h1{
    font-size: 3.4rem;
    margin: 30px;
}

.text{
    font-size: 1.2rem;
    margin: 30px;
}