*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 241, 182);
    height: 100vh;
}

.container{
    background-color: white;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 10px 8px grey;
}



h1{
    /* margin-bottom: 180px; */
    font-size: 3rem;
    /* background-color: aquamarine; */
    color: purple;
}

.input{
    width: 80%;
    height: 40px;
    /* margin-bottom: 200px; */
    border-radius: 10px;
    font-size: 1.2rem;

}

.btn{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    box-shadow: 8px 8px 8px grey;
    font-size: 1rem;
    cursor: pointer;
}

.mean{
    /* margin-right: 200px; */
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta{
    /* position: absolute;
    left: 250px; */
    font-size: 1.5rem; 
}