*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.container{
    /* background-color: bisque; */
    display: flex;
    justify-content: space-around;
    
     width: 50%;
}

.pointer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    height: 120px;
    width: 250px;
    border: solid 3px;
    background-color: beige;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
}