*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.box{
    height: 150px;
    width: 150px;
    background-color: white;
    margin: 10px;
}

.container{
    display: flex;

}

.img{
    background-image: url(https://picsum.photos/200/300/?random/1);
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.hold{
    border: 2px dashed black;
    background-color: gray;
}