*{
    margin: 0; padding: 0; box-sizing: border-box  ;
}

body{
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* opacity: 0.3; */
}

#container{
    background-color: wheat;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: solid black 2px;

}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    background-color: cornflowerblue;
    border-radius: 10px 10px 0 0;
    width: 100%;
    
}

#inputtext{
    width: 90%;
    height: 190px;
    margin: 20px 0;
    border-radius: 10px;
    /* border: solid black 1px; */
    font-size: 1rem;
    
    padding: 10px;

}

.button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}