*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

.container{
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;

}

.text{
    font-size: 2.6rem;
    padding: 10px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    font-weight: bolder;
    background-color: rgb(0, 255, 242);

}

.time{
    font-size: 7rem;
    font-weight: bolder;
}

button{
    font-size: 2rem;
    background-color: rgb(0, 255, 242);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    padding: 4px;
}

.start{
    color: white;
}

.stop{
    background-color: red;
    color: white;

}
.reset{
    background-color: green;
    color: white;
}