*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    background-color: rgb(113, 147, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#container{
    background-color: white;
    color: black;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    

}

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: blue;
    border-radius: 15px 15px 0 0;
    color: white;
}

.sitting{

    display: flex;
    /* flex-direction: column; */
    justify-content: center;   
    align-items: center;
    height: 40px;
    font-size: 25px;
    justify-content: space-between;
    /* margin: ; */
    padding: 20px;

}

#password{
    width: 80%;
    height: 35px;
    font-size: 25px;
    border: none;
    outline: none;

    
}

.checkbox{
    height: 25px;
}

#copy{
    height: 35px;
    font-size: 20px;
    background-color: blue;
    color: white;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
}


#pass-gen{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
}
