*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
}

.container{
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}

.header{
    font-size: 3rem;
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0 ;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    margin: 30px;
}

label{
    margin: 20px;
}

input{
    height: 35px;
    width: 300px;
    font-size: large;
    border-radius: 7px;
}

.calculate{
    height: 40px;
    width: 150px;
    background-color: green;
    font-size: large;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;   
}

.output{
    font-size: large;
    margin: 20px;
}

.result{
    text-align: center;
}