*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.score{
    display: flex;
    margin: 10px 10px 0 300px;
    font-size: 25px;
}

.ques{
    font-size: 2rem;
}

.input{
    margin: 20px;
    height: 45px;
    width: 80%;
    font-size: 1.5rem;
    border-radius: 5px;
}

.submit{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    font-size: 1.3rem;
}
