*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;

}

input{
    height: 50px;
    /* border: none; */
    border-radius: 40px;
    text-align: justify;
    font-size: 1.2rem;
    width: 00px;
    border: none;
    background: transparent;

    
}

.search{
    display: flex;
    position: relative;
    
}

button{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

input:focus{
    outline: none;
}

.active input{
    width: 300px;
    background: white;
    padding: 10px;
    transition: 0.5s;

}